body {
    background-color: #282828;
    color: #FFFFFF;
}
.index_content {
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
.image_content {
    text-align: center;
}
.social_icons i {
    font-size: 40px;
    padding: 5px;
}
.container {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.back-img{
    background: url('https://images.nathan7471.xyz/q3ye86zy.png');
    background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.project_content {
    text-align: center;
    padding-top: 5%;
}